body{
background: linear-gradient(255deg, rgb(8,200,8),rgb(9,190,100));
}

#tela{
    width: 90%;
    height: 500px;
    background-color: #bedbf5b0;
    border: 5px solid black;
    margin: auto;
}

#status{
    float: left;
    overflow: hidden;
    height: 100%;
    width: 170px;
    background-color: rgba(124, 166, 180, 0.5);
    border: 1px solid;
}

#status p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;  
    overflow-wrap:break-word;
}

#mensagem{
    width: 80%;
    height:60px;
    margin: auto;
    position: relative;
    top: 30px;
}

#controle{
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 200px;
    margin: 10px auto;
    border: 5px solid black;
    border-radius:20px;
    background: linear-gradient(to top, black, grey)
}

button{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 1s linear, border 1s;
}

button:hover{
    background-color: #444444;
    border: 1px solid white;
    color:white;
}

#mensagem{
    text-align:center;
}